.exp{
    position: relative;
    margin: -110px 150px;
    max-width: 1000px;
    min-height: 50vh;
    padding-top: 100px;
    transition: 0.5s;
    opacity: 0;
}

.exp-show{
    transform: translateY(-40px);
    opacity: 1;
}

.exp-head{
    margin-bottom: 2px;
    font-size: var(--fz-xxl);
    font-weight: 500;
    line-height: 1.3;
    color: var(--lightest-slate);
}
.exp-time{
    margin-bottom: 25px;
    color: var(--light-slate);
    font-family: var(--font-mono);
    font-size: var(--fz-xs);
}
.spann{
    display: inline-block;
    text-decoration: none;
    text-decoration-skip-ink: auto;
    position: relative;
    transition: var(--transition);
    color: var(--green);
    margin-left: 10px;
}

ul {
    height:500px;
    width: 700px;
    padding: 0px 0px;
    margin: 0px;
    font-size: var(--fz-lg);
}
ul li{
    position: relative;
    padding-left: 30px;
    margin-bottom: 10px;
}